.top-header {
    background-color: #c9c9c9;
    color: #1b1464;
}
.top-header h1 {
    font-size: 2.2vmax;
}
.top-header h2 {
    font-size: 2vmax;
}
.navigacija {
    padding: 0 !important;
    border-bottom: 5px solid #c90202;
    background-color: #d6cb06;
    box-shadow: 0 8px 6px -6px rgba(0,0,0,0.50), 0 -5px 6px -6px rgba(0,0,0,0.50);
 }

.navigacija .nav-link {
    color: #1b1464 !important;
    padding: 15px 10px !important;
}
.navigacija a:hover {
    color: #c90202 !important;
    background-color: #c7bd05;
}
.navigacija .dropdown-menu {
    background-color: rgba(214, 204, 6, 0.93);
}
.contact a {
    color: #1b1464;
}
.contact a:hover {
    text-decoration: none;
    color: #c90202 ;
}
.contact .badge {
    color: white;
    background-color: #c90202;
    box-shadow: 0 8px 6px -6px rgba(0,0,0,0.50);
}
.contact .fa-clock {
    color: #c90202;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
/*pocetak social media*/
.icon-circle .fa{
    font-size           : 15px;
    color               : #e84700;
    margin              : 0 auto;
    height              : 40px;
    width               : 40px;
    border-radius       : 50%;
    border              :2px solid #e84700;
    line-height         : 40px;
    cursor              : pointer;
    -webkit-transition  : all  ease-in-out 0.35s;
    -moz-transition     : all  ease-in-out 0.35s;
    -o-transition       : all  ease-in-out 0.35s;
    -ms-transition      : all  ease-in-out 0.35s;
    transition          : all  ease-in-out 0.20s,background-color ease-in-out 0.05s;
}

.icon-circle  .fa:hover{

    background-color        : #e84700;
    color                   : #fff;
    border                  : 1px solid #e84711;
    -moz-box-shadow         : inset 0 0 0 4px #ffffff;
    -o-box-shadow           : inset 0 0 0 4px #ffffff;
    -ms-box-shadow          : inset 0 0 0 4px #ffffff;
    -webkit-box-shadow      : inset 0 0 0 4px #ffffff;
    box-shadow              : inset 0 0 0 4px #ffffff;
    -ms-transform           : scale(1.2,1.2);
    -webkit-transform       : scale(1.2,1.2);
    -moz-transform          : scale(1.2,1.2);
    -o-transform            : scale(1.2,1.2);
    transform               : scale(1.2,1.2);
}

.icon-circle  i:before{
    margin-left         : 0;
    font-size           : 18px;
}

@media (min-width:320px) and (max-width:768px) {


    .icon-circle .fa{
        font-size           : 15px;
        color               : #e84700;
        margin              : 0 auto;
        height              : 40px;
        width               : 40px;
        border-radius       : 50%;
        border              :2px solid #e84700;
        line-height         : 40px;
        cursor              : pointer;
        -webkit-transition  : all  ease-in-out 0.35s;
        -moz-transition     : all  ease-in-out 0.35s;
        -o-transition       : all  ease-in-out 0.35s;
        -ms-transition      : all  ease-in-out 0.35s;
        transition          : all  ease-in-out 0.20s,background-color ease-in-out 0.05s;
    }

    .icon-circle  .fa:hover{

        background-color        : #e84700;
        color                   : #fff;
        border                  : 1px solid #e84711;
        -moz-box-shadow         : inset 0px 0px 0px 4px #ffffff;
        -o-box-shadow           : inset 0px 0px 0px 4px #ffffff;
        -ms-box-shadow          : inset 0px 0px 0px 4px #ffffff;
        -webkit-box-shadow      : inset 0px 0px 0px 4px #ffffff;
        box-shadow              : inset 0px 0px 0px 4px #ffffff;
        -ms-transform           : scale(1.2,1.2);
        -webkit-transform       : scale(1.2,1.2);
        -moz-transform          : scale(1.2,1.2);
        -o-transform            : scale(1.2,1.2);
        transform               : scale(1.2,1.2);
    }

    .icon-circle  i:before{
        margin-left         : 0;
        font-size           : 20px;
    }
}

.ifacebook .fa{
    color               :#1b1464;
    background-color    : #fff;
    border              :2px solid #1b1464;
}

.ifacebook .fa:hover{

    background-color        : #3B5998;
    color                   : #fff;
    border                  : 1px solid #3B5998;

}

.itwittter .fa{
    color               : #1b1464;
    background-color    : #fff;
    border              :2px solid #1b1464;
}

.itwittter .fa:hover{

    background-color        : #33ccff;
    color                   : #fff;
    border                  : 1px solid #33ccff;

}

.igoogle .fa{
    color               : #BD3518;
    border              :2px solid #BD3518;
}

.igoogle .fa:hover{

    background-color        : #BD3518;
    color                   : #fff;
    border                  : 1px solid #BD3518;

}

.instagram .fa{
    color               : #1b1464;
    background-color    : #fff;
    border              :2px solid #1b1464;
}

.instagram .fa:hover{

    background-color        :#d6249f;
    color                   : #fff;
    border                  : 1px solid #d6249f;

}
/*kraj social media*/
